<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.logoUrl = "<%= image_url("elephant_logo.png") %>"
  window.elephantIconUrl = "<%= image_url("elephant_transparent.png") %>"
  window.tagIconUrl = "<%= image_url("tag_icon.png") %>"
  window.notebookIconUrl = "<%= image_url("notebook_icon.png") %>"
  window.noteIconUrl = "<%= image_url("note_icon.png") %>"
  window.searchIconUrl = "<%= image_url("search_icon.png") %>"
  window.newIconUrl = "<%= image_url("new_icon.png") %>"
</script>

<main id="root"></main>
